<!DOCTYPE html>
<html>
<head>
  <title>RakeControlWeb</title>
  <%= stylesheet_link_tag    'rake_control_web/application', media: 'all' %>
  <%= javascript_include_tag 'rake_control_web/application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row">
    <div class="large-12 columns">
      <h2 class="subheader">Rake Control Dashboard</h2>
      <%= yield %>
    </div>
  </div>
</body>
</html>
